.input-wrapper {
  .label-content {
    margin-bottom: 4px;
    label {
      font-size: 12px;
      text-transform: capitalize;
      //   line-height: 14px;
      color: var(--secondary-);
    }
  }
  .input-content {
    display: flex;
    // align-items: center;
    border-radius: 2px;
    border: 1px solid rgba(170, 170, 170, 0.6);
    margin-bottom: 11px;
    width: 100%;
    input {
      padding: 8px 12px;
    }
    @media (max-width: 768px) {
      width: 100%;
    }

    input {
      font-size: 14px;
      width: 100%;
      outline: none;
      border: none;
      color: var(--primary-);
      background: transparent;
    }
    .icon {
      margin-right: 16px;
    }
  }
}
