.post-modal-wrapper {
  padding: 24px;
  justify-content: center;

  .post-modal-container {
    justify-content: center;
    gap: 32px;
    margin-bottom: 8px;
    p {
      color: var(--gray);
      font-size: 14px;
      margin-bottom: 8px;
      font-family: var(--font-arvo-regular);
      cursor: pointer;
    }
    .active {
      p {
        color: var(--primary-);
      }
      .border-bottom {
        border-bottom: 1px solid var(--primary-);
      }
    }
  }
  .close-icon {
    position: absolute;
    top: 0;
    right: 5px;
  }
}
