.product-detail-section {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  transition: all 0.5s ease-in-out;
  .modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0%;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);

    cursor: pointer;
  }
  .product-detail-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    background-color: transparent;

    .close-icon {
      display: flex;
      cursor: pointer;
      padding: 8px;
      justify-content: flex-end;
      margin: 12px;
    }
    .product-preview-img {
      position: relative;
      overflow-y: auto;
      margin: 0 auto;
      box-sizing: border-box;
      border-radius: 10px;
      background-color: #fff;
      width: 330px;
      height: 421px;
      padding: 24px;
      display: flex;
      flex-direction: column;
      // justify-content: space-between;
      .change-img {
        width: 100%;
        padding: 6px;
        color: var(--primary-);
        border: 1px solid var(--border);
        border-radius: 5px;
        margin-bottom: 24px;
      }
      .done-btn {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .product-img {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      h4 {
        color: var(--secondary-);
        padding-bottom: 4px;
        font-size: 12px;
        font-weight: 500;
      }
      h3 {
        font-size: 14px;
        font-weight: 500;
      }
      .content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        padding-top: 24px;
      }
      .content-material {
        display: flex;

        gap: 40px;
        padding-top: 12px;
      }
      .detailed-future {
        display: flex;
        align-self: start;
        padding-top: 12px;
      }
      .colors {
        padding-top: 14px;
        display: flex;
        flex-direction: row;
        gap: 8px;
        align-items: center;
        .color-section {
          .color-circle {
            width: 24px;
            height: 24px;
            border: 1px solid var(--border);
            border-radius: 5px;
          }
        }
      }

      .edit-btn {
        position: absolute;
        bottom: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 12px;
        gap: 45px;
        button {
          width: 108px;
        }
      }
      .delete-module {
        position: relative;
        overflow-y: auto;
        margin: 0 auto;
        box-sizing: border-box;
        border-radius: 10px;
        background-color: #fff;
        width: 580px;
        height: 181px;
        padding: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .content-delete {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        h3 {
          padding-bottom: 12px;
        }
        p {
          color: var(--gray);
          font-weight: 500;
          font-size: 12px;
          line-height: 20px;
        }
        .delete-section-btn {
          padding-top: 24px;
          display: flex;
          align-items: center;
          justify-content: space-evenly;
        }
      }
    }
    .product-preview {
      position: relative;
      overflow-y: auto;
      margin: 0 auto;
      box-sizing: border-box;
      border-radius: 10px;
      background-color: #fff;
      width: 330px;
      height: 421px;
    }
    //post section css
    .view-details {
      position: relative;
      overflow-y: auto;
      margin: 0 auto;
      box-sizing: border-box;
      border-radius: 10px;
      background-color: #fff;
      width: 427px;
      height: 369px;
      padding: 24px;
      display: flex;
      flex-direction: column;
      // justify-content: space-between;
      .change-img {
        width: 100%;
        padding: 6px;
        color: var(--primary-);
        border: 1px solid var(--border);
        border-radius: 5px;
        margin-bottom: 24px;
      }
      .done-btn {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .product-img {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      h4 {
        color: var(--secondary-);
        padding-bottom: 4px;
        font-size: 12px;
        font-weight: 500;
      }
      h3 {
        font-size: 14px;
        font-weight: 500;
      }
      .content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        padding-top: 24px;
      }
      .content-material {
        display: flex;

        gap: 40px;
        padding-top: 12px;
      }
      .detailed-future {
        display: flex;
        align-self: start;
        padding-top: 12px;
      }
      .colors {
        padding-top: 14px;
        display: flex;
        flex-direction: row;
        gap: 8px;
        align-items: center;
        .color-section {
          .color-circle {
            width: 24px;
            height: 24px;
            border: 1px solid var(--border);
            border-radius: 5px;
          }
        }
      }

      .edit-btn {
        position: absolute;
        bottom: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 12px;
        gap: 45px;
        button {
          width: 108px;
        }
      }
      .delete-module {
        position: relative;
        overflow-y: auto;
        margin: 0 auto;
        box-sizing: border-box;
        border-radius: 10px;
        background-color: #fff;
        width: 580px;
        height: 181px;
        padding: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .content-delete {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        h3 {
          padding-bottom: 12px;
        }
        p {
          color: var(--gray);
          font-weight: 500;
          font-size: 12px;
          line-height: 20px;
        }
        .delete-section-btn {
          padding-top: 24px;
          display: flex;
          align-items: center;
          justify-content: space-evenly;
        }
      }
    }
  }
  .layout-module-children {
    overflow-y: auto;
    // height: 100%;

    &::-webkit-scrollbar {
      width: 5px;
    }
  }
}
