.toggle-container {
  display: inline-block;
  cursor: pointer;

  //   .toggle-btn {
  //     width: 50px;
  //     height: 30px;
  //     border: 1px solid #ccc;
  //     display: flex;
  //     align-items: center;
  //     justify-content: center;
  //     font-size: 14px;
  //   }
  //   .enable {
  //     background-color: #4caf50; /* Green color when toggle is on */
  //     color: white;
  //   }

  //   .disable {
  //     background-color: #ccc; /* Grey color when toggle is off */
  //     color: black;
  //   }
  .toggle-switch {
    position: relative;
    width: 75px;
    display: inline-block;
    vertical-align: middle;
    // -webkit-user-select: none;
    // -moz-user-select: none;
    // -ms-user-select: none;
    text-align: left;
    &-checkbox {
      display: none;
    }
    &-label {
      display: block;
      overflow: hidden;
      cursor: pointer;
      border: 0 solid #bbb;
      border-radius: 20px;
      margin: 0;
    }
    &-inner {
      display: block;
      width: 200%;
      margin-left: -100%;
      transition: margin 0.3s ease-in 0s;
      &:before,
      &:after {
        display: block;
        float: left;
        width: 50%;
        height: 34px;
        padding: 0;
        line-height: 34px;
        font-size: 14px;
        color: white;
        font-weight: bold;
        box-sizing: border-box;
      }
      &:before {
        content: "Yes";
        text-transform: uppercase;
        padding-left: 10px;
        background-color: #f90;
        color: #fff;
      }
    }
    &-disabled {
      background-color: #ddd;
      cursor: not-allowed;
      &:before {
        background-color: #ddd;
        cursor: not-allowed;
      }
    }
    &-inner:after {
      content: "No";
      text-transform: uppercase;
      padding-right: 10px;
      background-color: #bbb;
      color: #fff;
      text-align: right;
    }
    &-switch {
      display: block;
      width: 24px;
      margin: 5px;
      background: #fff;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 40px;
      border: 0 solid #bbb;
      border-radius: 20px;
      transition: all 0.3s ease-in 0s;
    }
    &-checkbox:checked + &-label {
      .toggle-switch-inner {
        margin-left: 0;
      }
      .toggle-switch-switch {
        right: 0px;
      }
    }
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 16px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--border);
  border-radius: 10px;
}
.slider::before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 2px;
  background: var(--white);
  transition: 0.4s;
  border-radius: 20px;
}
input:checked + .slider::before {
  transform: translateX(16px);
}
input:checked + .slider {
  background-color: #ddd;
}
