.upload-image {
  margin-left: 120px;
  padding: 32px 24px;

  .upload-wrap {
    display: flex;
    // justify-content: space-between;
    flex-wrap: wrap;
    gap: 24px;
    .design-wrap {
      display: flex;
      flex-direction: column;
      // align-items: center;
      justify-content: space-between;
      margin-top: 34px;
      padding: 24px;
      width: 248px;
      height: 372px;
      max-width: 100%;
      box-sizing: border-box;
      border-radius: 10px;
      background: #fff;
      box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.16);
      position: relative;
      cursor: pointer;
      .logo {
        img {
          width: 100%;
        }
      }
      .plus-icon {
        padding: 68px;
        svg {
          width: 64px;
          height: 64px;
        }
      }
      .toggle-switch {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h3 {
          font-family: "Gilroy-Medium";
          font-weight: 500;
        }
      }
      .update {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .add-btn {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .delete-module {
        position: relative;
        overflow-y: auto;
        margin: 0 auto;
        box-sizing: border-box;
        border-radius: 10px;
        background-color: #fff;
        width: 580px;
        height: 181px;
        padding: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .content-delete {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        h3 {
          padding-bottom: 12px;
        }
        p {
          color: var(--gray);
          font-weight: 500;
          font-size: 12px;
          line-height: 20px;
        }
        .delete-section-btn {
          padding-top: 24px;
          display: flex;
          align-items: center;
          justify-content: space-evenly;
        }
      }
    }
    .layout-module {
      // width: 480px;
      max-width: 100%;
      height: 300px;
      padding: 24px;
      h2 {
        padding-bottom: 27px;
        color: var(--primary-);
        font-size: 14px;
      }
      .btn-upload {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding-top: 65px;
        button {
          width: 170px;
        }
        label {
          border-radius: 5px;
          border: 1px solid #d9d9d9;
          color: var(--primary-);
          font-size: 12px;
          padding: 9px 40px;
          font-weight: 500;
          cursor: pointer;
        }
      }
      .layout-wrap {
        display: flex;
        justify-content: space-between;
        gap: 24px;
        .upload-area {
          display: flex;
          flex-direction: column;
          gap: 40px;
          align-items: center;
          justify-content: space-between;
          img {
            width: 200px;
            height: 100px;
            object-fit: contain;
          }
        }
        .input-area {
          label {
            display: flex;
            flex-direction: column;
            gap: 4px;
            font-size: 12px;
            font-weight: 500;
            color: var(--secondary-);
          }
          input {
            padding: 13px 16px;
            border-radius: 5px;
          }
        }
      }

      .module-wrapp {
        padding: 24px;
        .upload-design {
          display: flex;
          justify-content: space-between;
          // align-items: center;
          gap: 12px;
          .image-wrap {
            display: grid;
            grid-template-rows: 2fr 2fr;
          }
        }
      }
    }
  }
}
