.product-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 28px;
  .postlist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    box-sizing: border-box;
    border-radius: 10px;
    background: #fff;
    box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.14);
    max-width: 252px;
    width: 100%;
    padding: 24px;
    h3 {
      font-weight: 500;
    }
    .post-box {
      padding: 10px 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .product-details {
      display: flex;
      justify-content: space-between;
      padding: 10px 16px;
      h3 {
        font-weight: 500;
      }
      p {
        padding: 4px 0;
      }
    }
    .button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 4px;
      padding: 10px 16px;
      button {
        width: 96px;
      }
    }
    .update-time {
      padding: 10px 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .post-img {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 200px;
      height: 200px;
    }
  }
}
