.notification {
  width: 100%;
  max-width: 260px;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid #ddd;
  button {
    width: 100%;
  }
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  .notification-wrap {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    padding: 12px 16px;
    background: #fff;
    box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.08);
    .notification-title {
      display: flex;
      flex-direction: column;
      gap: 8px;
      h4 {
        font-size: 16px;
        font-weight: 400;
      }
      h5 {
        color: #8c73cb;
        font-weight: 400;
      }
    }
  }
  .plus-svg {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .btn-notification {
    padding: 16px;
  }
}
