.post-wrap {
  padding: 32px 40px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  .pendingpost {
    display: inline-block;
    color: var(--secondary-);
    &::after {
      content: "";
      display: block;
      width: 0;
      height: 2px;
      background: var(--secondary-);
      transition: width 0.3s;
    }
    &:hover::after {
      width: 100%;
      color: var(--secondary-);
    }
  }
  h2 {
    padding-bottom: 6px;

    &:hover {
      color: var(--secondary-);
    }
  }
}
.layout-children {
  overflow-y: auto;
  height: 100%;
  // flex: 1;
  // margin-top: 68px;

  // @media (max-width: 992px) {
  //   margin-top: 0;
  //   margin-left: 0;
  // }

  &::-webkit-scrollbar {
    width: 5px;
  }
}
