.header-wrap {
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
  display: flex;
  background: #fff;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(170, 170, 170, 0.4);
  padding: 13px 43px 13px 0;
  .logo {
    display: flex;
    align-items: center;
  }
  .drop-down {
    .month-filter {
      display: flex;
      align-items: center;
      gap: 20px;
      justify-content: space-between;
      color: var(--primary-);
      cursor: pointer;
      position: relative;
      border: 2px solid #dddddd;
      padding: 13px 24px;
      border-radius: 12px;
    }
    .dropdown-content {
      position: absolute;
      margin-top: 8px;
      width: 140px;
      background-color: #fff;
      box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
      border-radius: 5px;
      transition: all 0.5s ease-out;

      p {
        font-size: 13px;
        padding: 8px 20px;
        color: var(--text-primary);
        border-bottom: 1px solid rgba(170, 170, 170, 0.4);
      }
    }
  }
}
