.sidebar {
  max-width: 272px;
  width: 100%;
  padding-top: 32px;
  background-color: var(--primary-);
  height: calc(100vh - 68px);
  overflow-x: hidden;
  overflow-y: scroll;
  position: fixed;
  top: 90px;
  left: 0;
  z-index: 1;
  &::-webkit-scrollbar {
    width: 0px;
  }
  p {
    padding: 12px 24px;
    color: #eee;
    font-size: 13px;
    font-weight: 400;
    border-bottom: 2px solid rgba(140, 115, 203, 0.1);
    &:hover {
      background: var(--New, linear-gradient(90deg, #462d85 0%, #db00ff 100%));
    }
  }
}
