@font-face {
  font-family: "Gilroy-Bold";
  src: url("../src/assets/fonts/Gilroy-Bold.ttf");
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url("../src/assets/fonts/Gilroy-Medium.ttf");
}
@font-face {
  font-family: "Gilroy-SemiBold";
  src: url("../src/assets/fonts/Gilroy-SemiBold.ttf");
}
@font-face {
  font-family: "Gilroy-Light";
  src: url("../src/assets/fonts/Gilroy-Light.ttf");
}
@font-face {
  font-family: "Gilroy-Regular";
  src: url("../src/assets/fonts/Gilroy-Regular.ttf");
}
@font-face {
  font-family: "Arvo-Regular";
  src: url("../src/assets/fonts/Arvo-Regular.ttf");
}
@font-face {
  font-family: "Arvo-bold";
  src: url("../src/assets/fonts/Arvo-Bold.ttf");
}

:root {
  --font-bold: "Gilroy-Bold";
  --font-medium: "Gilroy-Medium";
  --font-semiBold: "Gilroy-SemiBold";
  --font-light: "Gilroy-Light";
  --font-regular: "Gilroy-Regular";
  --font-arvo-regular: "Arvo-Regular";
  --font-arvo-bold: "Arvo-bold";
  --white: #fff;
  --primary-: #462d85;
  --secondary-: #8c73cb;
  --text-primary: #252525;
  --text-secondary: #462d8599;
  --gray: #777;
  --border: #777777;
  --secondary-gray: #aaa;
  --card-clr: #d9d9d9;
  --table-text-clr: #454545;
  --table-border: #f5f5f5;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-medium);
}
html {
  scroll-behavior: smooth;
}

td {
  color: var(--table-text-clr);
  font-size: 12px;
  font-family: var(--font-medium);
}

.flex-item {
  display: flex;
  align-items: center;
}

body {
  color: var(--text-primary);
  transition: all 0.3s linear;
}

.mx {
  max-width: 1800px;
  width: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: var(--white);
}
h2 {
  color: #777;
  font-size: 20px;
  font-weight: 400;
}
h3 {
  color: var(--primary-);
  font-weight: 600;
  letter-spacing: -0.32px;
  font-size: 16px;
}
h5 {
  color: var(--primary-);
  font-weight: 400;
  letter-spacing: -0.32px;
  font-size: 12px;
}
h6 {
  color: #252525;
  font-weight: 500;
  font-size: 14px;
}
p {
  color: var(--secondary-);
  letter-spacing: -0.24px;
  font-size: 12px;
  font-weight: 400;
}
button:disabled {
  cursor: no-drop;
}
.custom-file-upload input[type="file"] {
  display: none;
}
.custom-file-upload {
  display: flex;

  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
.drop-down-icon.rotate {
  transform: rotate(-180deg);
  transition: all 0.5s ease-out;
}

input[type="checkbox"] {
  width: 100% !important;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.errorMsg {
  color: red;
  font-size: 12px;
  margin-top: -10px;
  margin-bottom: 12px;
  text-transform: lowercase;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: inline-block;
  cursor: pointer;
}

/* Style your custom input */
#customDateInput {
  /* Your custom styles */
  border: none;
  cursor: pointer;
  border-radius: 4px;
  padding: 4px;
  font-size: 18px;
  font-family: "Arvo-bold";
  font-weight: 600;
  color: #aaa;
  /* Optional: Add a background color or other visual enhancements */
}
#orderdate {
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 4px;
  padding: 8px;
  font-size: 12px;
  font-family: "Arvo-bold";
  font-weight: 500;
  color: var(--primary-);
}

.active-btn button {
  background-color: var(--secondary-);
  color: #fff;
}
