@font-face {
  font-family: "Gilroy-Bold";
  src: url("../src/assets/fonts/Gilroy-Bold.ttf");
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url("../src/assets/fonts/Gilroy-Medium.ttf");
}
@font-face {
  font-family: "Gilroy-SemiBold";
  src: url("../src/assets/fonts/Gilroy-SemiBold.ttf");
}
@font-face {
  font-family: "Gilroy-Light";
  src: url("../src/assets/fonts/Gilroy-Light.ttf");
}

:root {
  --font-bold: "Gilroy-Bold";
  --font-medium: "Gilroy-Medium";
  --font-semiBold: "Gilroy-SemiBold";
  --font-light: "Gilroy-Light";
  --white: #fff;
  --primary-: #462d85;
  --secondary-: #8c73cb;
  --text-primary: #252525;
  --text-secondary: #462d8599;
  --gray: #777;
  --border: #777777;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-medium);
}
html {
  scroll-behavior: smooth;
}
body {
  color: var(--text-primary);
  transition: all 0.3s linear;
}

.mx {
  max-width: 1800px;
  width: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: var(--white);
}
h2 {
  color: #777;
  font-size: 20px;
  font-weight: 400;
}
h3 {
  color: var(--primary-);
  font-weight: 600;
  letter-spacing: -0.32px;
  font-size: 16px;
}
h5 {
  color: var(--primary-);
  font-weight: 400;
  letter-spacing: -0.32px;
  font-size: 12px;
}
h6 {
  color: #252525;
  font-weight: 500;
  font-size: 14px;
}
p {
  color: var(--secondary-);
  letter-spacing: -0.24px;
  font-size: 12px;
  font-weight: 400;
}
button:disabled {
  cursor: no-drop;
}
.custom-file-upload input[type="file"] {
  display: none;
}
.custom-file-upload {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.drop-down-icon.rotate {
  transform: rotate(-180deg);
  transition: all 0.5s ease-out;
}
