.layoutWrapper {
  .layout-children {
    overflow-y: auto;
    height: 100%;
    flex: 1;
    margin-left: 160px;
    margin-top: 74px;
    margin-bottom: 10px;

    &::-webkit-scrollbar {
      width: 5px;
    }
  }
}
